<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="container" style="width: 100%">
            <a href="#" class="brand-logo">Trendly</a>

            <div class="nav-content">
                <div id="menu-nav" class="row">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="">About</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="/">Sign Out</a></li>
                            </ul>
                </div>

                <ul class="tabs tabs-transparent">
                    <li class="tab"><a id="add-goal" class="btn-small">Add a goal</a></li>
                    <li class="tab"><a id="all" class="btn-small">All Goals</a></li>
                    <li class="tab"><a id="artists" href="">Artists</a></li>
                    <li class="tab"><a id="places" href="">Places</a></li>
                    <li class="tab"><a id="restaurants" href="">Restaurants</a></li>
                    <li class="tab"><a id="movies" href="">Movies</a></li>
                    <li class="tab"><a id="books" href="">Books</a></li>
                    <li class="tab"><a id="activities" href="">Activities</a></li>
                    <li class="tab"><a id="goals" href="">Other Goals</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>