<table>
  <thead>
    <tr>
      <th>Artists I'd like to see in concert</th>
    </tr>
  </thead>

  <tbody>
    {{#each}}
    <tr>
      <td>{{artist}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>