<table>
  <thead>
    <tr>
      <th>Other goals I'd like to accomplish</th>
    </tr>
  </thead>

  <tbody>
    {{#each}}
    <tr>
      <td>{{other}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>