<table>
  <thead>
    <tr>
      <th>Restaurants I'd like to eat at</th>
    </tr>
  </thead>

  <tbody>
    {{#each}}
    <tr>
      <td>{{restaurant}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>